{% if page != 'SI' %}

<h2>Datenschutzbeauftragte</h2>

<p>Der Datenschutzbeauftragte ist RE-SEARCH, mit Sitz in Via Columbia Nr. 2, 00133 Rom, Italien.</p>

<p>Diese Datenschutzrichtlinie beschreibt, welche Informationen wir sammeln, wie wir diese sammeln, was wir damit tun, an wen wir die Daten weitergeben dürfen, und wie wir die Daten schützen (im Einklang mit der Richtlinie 95/46 der Europäischen Kommission, und umgesetzt in nationales Recht im Dekret Nr. 196 vom 30. Juni 2003 über den Schutz personenbezogener Daten – d.h. des italienischen Datenschutzrechts).  </p>

<p>Wir haben uns verpflichtet, Ihre Privatsphäre zu schützen.</p>


<h2>Sammlung</h2>

<p>Um die Funktion der RE-SEARCH Suchmaschine zu testen, sammeln wir Daten und speichern folgende Informationen von Ihnen und über Sie:</p>
<ul>
<li>Wir teilen Ihnen einen Benutzercode zu. Dieser Code beinhaltet keine personenbezogenen Informationen, aber er ermöglicht es uns, ihren Benutzercode zu Ihren Kontaktinformationen (über eine unabhängige Datenbank) zuzuordnen.</li>
<li>Wir sammeln Ihre Antworten auf unsere Testfragen und unsere/Ihre Antworten auf unsere Anschlussbefragung.</li>
<li>Wir sammeln Ihre Internetprotokoll (IP) Adresse und ihren Browsertyp.</li>
<li>Wir sammeln Ihre Suchanfragen, inklusive Datum und Zeitpunkt, an dem Sie diese machten. </li>
<li>Wir sammeln ihre click-stream Daten, d.h. die Webseiten und Links auf die Sie Klicken.
Verwendung und Verwendungszwecke</li>
</ul>


<h2>Verwenden und Zwecke</h2>

<p>Wir sammeln Daten/Informationen auf zwei Arten:</p>
<ul>
<li>Daten/Informationen, die Sie uns zur Verfügung stellen.</li>
<li>Daten/Informationen, die wir durch die Nutzung unseres Dienstes erhalten.</li>
</ul>

<li>Wir können Daten/Informationen weitergeben, sofern dies gesetzlich vorgeschrieben ist.</li>

<li>Wir können Ihre Daten/Informationen an unsere Auftraggeber und Vertragspartnweitergeben, um unsere Dienstleitung anzubieten.</li>

<li>Wir können Daten/Informationen, die wir über Ihre Nutzung unserer Dienstleitungsammeln, für Forschungszwecke weitergeben oder publizieren.</li>

<li>Falls wir dies tun, werden wir Ihre Daten zusammen mit den Daten anderer Nutzaggregieren, oder auf  andere Weise anonymisieren (d.h. identifizierbar nur durch den Benutzercode).</li>

<h2>Dauer</h2>

<p>Daten/Informationen werden nur so lange Zeit verarbeitet oder gespeichert, wie es notwendig ist, um die Ziele zu erreichen, für welche die Daten gesammelt wurden, jedoch im Einklang mit den gültigen Regulierungen.</p>

<h2>Einverständnis </h2>

<p>Indem Sie unseren Dienst nutzen, stimmen Sie zu, dass Ihre Daten/Informationen im Einklang mit dieser Datenschutzrichtlinie weiterverarbeitet werden. Insbesondere stimmen Sie zu, dass Ihre Daten in Datenbanken gespeichert werden, und durch automatisierte Systeme genutzt werden, für die hier genannten Zwecke und Dauer.</p>

<p>Wir geben keine personenbezogene Daten/Informationen an Firmen für Marketingzwecke weiter, es sei denn, wir haben Ihre  Zustimmung hierzu.</p>

<h2>Ihre Rechte</h2>

<p>Nutzer können ihre Recht auf Zugang, Korrektur, Widerspruch und Kündigung personenbezogener Daten im Einklang mit der Richtlinie 95/46 der Europäischen Kommission (wie umgesetzt durch das italienische Datenschutzgesetz / Italian Data Protection Code) ausüben, in dem Sie sich schriftlich wenden an: RE-SEARCH, mit Sitz in Via Columbia, 2, 00133 Rom, Italien.</p>

<h2>Dritte</h2>

<p>Falls unsere Webseite Links zu anderen Webseiten anbietet, können wir nicht sicherstellen, dass diese anderen Webseiten Datenschutzrichtlinien oder –Regulierungen einhalten.</p>


<h2>Sicherheitsmaßnahmen</h2>

<p>Wir halten das rechtlich vorgeschriebene Sicherheitsniveau zum Schutz personenbezogener Daten ein, und haben alle technischen Mittel und Maßnahmen getroffen, die nach dem Stand der Technik zur Verfügung stehen, um den Verlust, Missbrauch, Veränderung, unautorisierter Zugang und Diebstahl von  Daten zu verhindern. Dennoch muss der Nutzer sich bewusst sein, dass   die Kommunikationssicherheit in einem Netzwerk nicht ungefährdet ist.  </p>


<h2>Änderungen der Datenschutzrichtlinie</h2>

<p>Unsere Datenschutzrichtlinie kann sich von Zeit zu Zeit ändern, und diese möglichen Änderungen  der Datenschutzrichtlinie werden auf dieser Internetseite veröffentlicht.</p>


{% else %}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Fakten</th>
            <th>Welche Informationen wir sammeln und wie wir diese verwenden</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h5>Wer?</h5></td>
            <td>
                <h5><p>RE-SEARCH, Rom</p>
                    
                    <p>Wir schützen Ihre Privatsphäre</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Warum?</h5></td>
            <td>
                <h5><p>Wir testen verschiedene Designs für eine Internet-Dienstleistung.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Was?</h5></td>
            <td>
                <h5>
                <ul>
                    <li>Die Dinge, die Sie suchen (inkl. wann Sie danach suchen)</li>
                    <li>Die Links auf die Sie klicken (inkl. wann Sie diese anklicken)</li>
                    <li>Die Art des Internetbrowsers, den Sie nutzen (z.B. Internet Explorer, Chrome oder Firefox),</li>
                    <li>Ihre Internetprotokoll (IP) Adresse, welche ungefähr angibt, wo Sie sich geografisch befinden </li>
                    <li>Ihre Antworten zu unseren Testfragen, und Ihre Antworten zu unserer Anschluss-Befragung.</li>
                </ul>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Wie?</h5></td>
            <td>
                <h5><p>Wir teilen Ihnen einen Benutzercode zu, und nutzen diesen, um Ihre Aktivitäten nachzuverfolgen (Suchen, Klicks, Browsertyp, IP Adresse). Wir können Ihren Benutzercode auch mit Ihrer E-Mail-Adresse verlinken, und mit jeglichen Anschluss-Befragungen, die Sie ausfüllen.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Wie Lange?</h5></td>
            <td>
                <h5><p>Wir behalten Ihre Daten nur für die Zeit, die notwendig ist, um die Ziele zu erreichen, für welche die Daten gesammelt wurden. </p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Einverständnis</h5></td>
            <td>
                <h5><p>Wenn Sie unseren Dienst nutzen, stimmen Sie der Weiterverarbeitung Ihrer persönlichen Daten im Rahmen dieser Datenschutzrichtlinie zu.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Ihre Rechte</h5></td>
            <td>
                <h5><p>Zugang, Korrektur, Widerspruch sowie ggf. Kündigung (sofern zutreffend/anwendbar). </p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Dritte </h5></td>
            <td>
                <h5><p>Wir können nicht die Einhaltung von Datenschutzregelungen durch  Dritte (z.B. andere Websites) sicherstellen.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Sicherheit </h5></td>
            <td>
                <h5><p>Wir haben alle technischen Mittel und Maßnahmen getroffen, die nach dem aktuellen Stand der Technik zur Verfügung stehen, um Ihre Daten zu schützen. Dennoch ist die Sicherheit von Kommunikation in einem Netzwerk nicht ungefährdet.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Änderungen</h5></td>
            <td>
                <h5><p>Jegliche Änderungen zu dieser Datenschutzlinie werden auf dieser Internetseite veröffentlicht.</p>
                </h5>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Warum wir Ihre Daten weitergeben</th>
            <th>Dürfen wir sie weitergeben?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h5>Falls dies gesetzlich vorgeschrieben ist</h5></td>
            <td><h5>Ja</h5></td>
        </tr>
        <tr>
            <td><h5>Zu Forschungszwecken </h5></td>
            <td><h5>Ja</h5></td>
        </tr>
        <tr>
            <td><h5>Zu Marketing- und Verkaufszwecken </h5></td>
            <td><h5>Nein</h5></td>
        </tr>
    </tbody>
</table>
{% endif %}
