{% if current_group == 5 %}
<h3>Dziękujemy za dotychczas poświęcony czas. Prosimy teraz o wypełnienie kwestionariusza korzystania z Internetu (wszystkie pytania są dobrowolne)</h3>
{% elif current_group == 6 %}
<h3>Teraz prosimy o wypełnienie ankiety dotyczącej zachowań osobowych (ważne: wszystkie pytania są dobrowolne)</h3>
{% elif current_group == 9 %}
<h3>Odpowiedz na pytania poniżej (wszystkie pytania są obowiązkowe)</h3>
{% elif current_group == 7 %}
<h3>Zaznacz, czy zgadzasz się ze stwierdzeniami poniżej (wszystkie pytania są obowiązkowe)</h3>
{% elif current_group == 8 %}
<h3>Wskaż jakie twoim zdaniem informacje zostały zebrane przez wyszukiwarkę (wszystkie pytania są obowiązkowe)</h3>
{% elif current_group == 11 %}
<h3>Badanie jest prawie ukończone. Odpowiedz na ostatnie pytania poniżej (wszystkie pytania są obowiązkowe)</h3>
{% elif current_group == 12 %}
<div id='disclosure' style='text-align: center;'>
    <h3>Dziękujemy za udział w badaniu!Badanie jest prawie ukończona. Proszę przeczytać poniższy tekst, zanim klikniesz na 'Wykonaj badanie.'
    <br>
    <br>
    Badanie jest częścią europejskiego projektu badawczego non-profit, którego celem jest badanie zachowań i postaw dotyczących ochrony prywatności. Wyniki zostaną wykorzystane wyłącznie do celów badawczych a wszystkie odpowiedzi będą przechowywane anonimowo.
    <br>
    <br>
    <img src='{{STATIC_URL}}download.jpg' />
    <br>
    <br>
</div>
{% elif current_group == 10 %}
<h3>Na koniec, podaj informacje dodatkowe odpowiadając na pytania poniżej (wszystkie pytania są obowiązkowe)</h3>
{% endif %}