{% if page != 'SI' %}

<h2>Administrator danych</h2>

<p>Administratorem danych jest RE-SEARCH, z siedzibą Via Columbia 2, 00133 Rzym.</p>

<p>Niniejsza polityka prywatności określa rodzaj zbieranych informacji, sposób ich gromadzenia oraz przetwarzania jak również sposób udostępniania i ochrony (zgodnie z Dyrektywą 95/46/WE, na mocy ustawy nr 196  z dnia 30 czerwca 2003 roku o ochronie danych osobowych - tj. włoski kodeks ochrony danych).</p>

<p>Na mocy tej polityki zobowiązujemy się do ochrony prywatności użytkowników.</p>


<h2>Zbieranie informacji</h2>

<p>W celu przetestowania funkcjonalności wyszukiwarki RE-SEARCH, zbieramy i gromadzimy następujące informacje o użytkownikach:</p>
<ul><li>Przypisany kod użytkownika. Ten unikalny identyfikator nie zawiera danych osobowych, ale umożliwia nam połączenie kodu użytkownika z danymi kontaktowymi użytkownika za pomocą niezależnej bazy danych.</li>
<li> Odpowiedzi na pytania testu i ankiety.</li>
<li>Adres IP oraz typ przeglądarki.</li>
<li>Zapytania użytkowników wraz z datą i godziną publikacji.</li>
<li>Tzw. dane o kolejności uruchamiania przycisków, tj. informacje o stronach </li>
</ul>


<h2>Użyj i cele</h2>

<p>Zbieranie danych odbywa się na dwa sposoby:</p>
<ul>
<li>Na podstawie informacji udzielanych przez użytkowników</li>
<li>Na podstawie informacji o rodzajach usług, z których korzystają użytkownicy.</li>
</ul>


<p>Informacje zebrane od użytkowników są gromadzone w celu zapewnienia i ulepszenia usług. Mogą one zostać również wykorzystane do ogólnych celów badawczych.</p>

<p>Informacje o użytkownikach mogą zostać ujawnione, jeśli jest to wymagane przez prawo.</p>

<p>Informacje o użytkownikach mogą zostać przekazane innym podmiotom w celu zapewnienia usług.</p>

<p>Informacje o użytkownikach dotyczące korzystania z naszych usług mogą zostać udostępnione lub opublikowane do celów badawczych. W takim przypadku, dane użytkownika będą agregowane z danymi innych użytkowników lub zostanie zapewniona ich anonimowość w inny sposób (np. zostaną one powiązane tylko z kodem użytkownika).</p>

<h2>Czas trwania</h2>

<p>Dane będą przetwarzane w czasie niezbędnym do osiągnięcia celów, dla których dane zostały  zgromadzone, jednakże, odbędzie się to zgodnie z obowiązującymi przepisami.</p>

<h2>Wyrażenie zgody</h2>

<p>Korzystając z naszych usług, użytkownik wyraża zgodę na przetwarzanie swoich danych zgodnie z niniejszą polityką prywatności. W szczególności, użytkownik wyraża zgodę na przechowywanie danych w bazach danych dla celów wskazanych w niniejszej polityce oraz na czas trwania w niej określony.</p>


<p>Nie udostępniamy danych personalnych użytkowników dla celów marketingowych, chyba że użytkownik wyrazi na to zgodę.</p>

<h2>Prawa użytkowników</h2>

<p>Użytkownicy mogą skorzystać z prawa do dostępu, zmiany, sprzeciwu i usunięcia danych osobowych zgodnie z Dyrektywą 95/46/WE  (na mocy włoskiego kodeksu ochrony danych), pisząc na adres: RE-SEARCH, z siedzibą Via Columbia 2, 00133 Rzym, Włochy.</p>

<h2>Osoby trzecie</h2>

<p>Nie ponosimy odpowiedzialności za przestrzeganie niniejszych zasad ochrony danych przez inne witryny internetowe w przypadku, gdy nasza strona internetowa zawiera linki takich stron.</p>

<h2>Środki bezpieczeństwa</h2>

<p>Przyjęliśmy poziom bezpieczeństwa ochrony danych osobowych wymagany prawem i użyliśmy wszelkich dostępnych środków technicznych, aby zapobiec utracie, niewłaściwemu wykorzystaniu, zmianie, nieuprawnionemu dostępowi i kradzieży danych.  Jednakże, użytkownicy powinni mieć świadomość, że bezpieczeństwo komunikacji w sieci może zostać naruszone.</p>

<h2>Zmiany polityki prywatności</h2>

<p>Niniejsza Polityka Prywatności może ulegać zmianom, a wszelkie zmiany będą umieszczane na tej stronie.</p>


{% else %}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Fakty </th>
            <th>Jakie informacje gromadzimy i jak z nich korzystamyt</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h5>Kto? </h5></td>
            <td>
                <h5><p>RE-SEARCH, Ryzm</p>
                    
                    <p>Chronimy Twoją prywatność</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Dlaczego?</h5></td>
            <td>
                <h5><p>Testujemy różne warianty usług internetowych</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Co?</h5></td>
            <td>
                <h5>
                <ul>
                    <li>Terminy wyszukiwania (również informacje o tym kiedy wyszukiwanie miało miejsce)</li>
                    <li>Linki, w które klikasz (również informacje o tym kiedy w nie kliknąłeś)</li>
                    <li>Rodzaj przeglądarki (na przykład, Internet Explorer, Chrome lub Firefox),</li>
                    <li>Twój adres IP, który wskazuje w przybliżeniu Twoją lokalizację,</li>
                    <li>Odpowiedzi na pytania testu i ankiety.</li>
                </ul>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Jak?</h5></td>
            <td>
                <h5><p>Przydzielamy Ci kod użytkownika i ten identyfikator służy do logowania aktywności (wyszukiwania, kliknięcia, typ przeglądarki, adres IP) Istnieje również możliwość połączenia kodu z adresem email czy też jakąkolwiek wypełnioną przez Ciebie ankietą.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Jak długo? </h5></td>
            <td>
                <h5><p>Przechowujemy Twoje dane na czas niezbędny do osiągnięcia celów, dla których zostały zebrane.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Wyrażenie zgody</h5></td>
            <td>
                <h5><p>Korzystając z naszych usług, wyrażasz zgodę na przetwarzanie swoich danych zgodnie z niniejszą polityką prywatności.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Twoje prawa</h5></td>
            <td>
                <h5><p>Dostęp, zmiana, sprzeciw i usunięcie (jeśli dotyczy).</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Osoby trzecie</h5></td>
            <td>
                <h5><p>Nie możemy zapewnić zgodności innych stron z zasadami niniejszej polityki prywatności.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Bezpieczeństwo</h5></td>
            <td>
                <h5><p>Użyliśmy wszystkich środków technicznych i metod dostępnych w obecnej technice aby ochronić Twoje dane. Jednakże bezpieczeństwo komunikacji w sieci może zostać naruszone.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Zmiany</h5></td>
            <td>
                <h5><p>Wszelkie zmiany w polityce prywatności będą publikowane na tej stronie.</p>
                </h5>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Dlaczego możemy udostępnić informacje o Tobie</th>
            <th>Czy je udostępnimy?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h5>Jeśli wymagają tego przepisy prawa</h5></td>
            <td><h5>Tak</h5></td>
        </tr>
        <tr>
            <td><h5>Dla celów badawczych</h5></td>
            <td><h5>Tak</h5></td>
        </tr>
        <tr>
            <td><h5>Dla celów marketingowych</h5></td>
            <td><h5>Nie</h5></td>
        </tr>
    </tbody>
</table>
{% endif %}
