{% extends "pages/base.html" %}

{% block title %}Landing Page{% endblock %}

{% block content %}

<div id='text' style='padding-top: 60px;' class='row'>

<div class='col-md-3'>

</div>

<div class='col-md-6'>

    <h1>Welcome!</h1>

    <p>In this exercise you are called to evaluate a new search engine (Research Engine), by searching the answers to the questions that will be displayed in the next pages. </p>

    <p>At the end of this searching exercise you will be asked to answer to a brief questionnaire on your Internet use. This will help us in providing a better service.</p>

    <p>The whole test will not take approximately 30 minutes.</p>

    <p>As a reward for your collaboration, you have a gift card of X euros.</p>

    <p>Please be sure to dispose of reliable Internet connection before starting the test. If you wish to abandon the test before the end you will not be paid.</p>

    <p>All information you provide to us will remain <strong>anonymous</strong>.</p>

    <p>Thank you for your collaboration!</p>

    <a href='/links' class='btn btn-primary'>Begin</a>

    </div>

</div>

{% endblock %}
