<div class='radioGroupBelow'>
    <label>Very Unlikely<input type="radio" name="{{ q.question.id }}" value='Very Unlikely' /></label>
    <label class='blank'><br><input type="radio" name="{{ q.question.id }}" class='blank' value='Unlikely' /></label>
    <label class='blank'><br><input type="radio" name="{{ q.question.id }}" class='blank' value='Somewhat Unlikely' /></label>
    <label class='blank'><br><input type="radio" name="{{ q.question.id }}" class='blank' value='Neutral' /></label>
    <label class='blank'><br><input type="radio" name="{{ q.question.id }}" class='blank' value='Somewhat Likely' /></label>
    <label class='blank'><br><input type="radio" name="{{ q.question.id }}" class='blank' value='Likely' /></label>
    <label>Very Likely<input type="radio" name="{{ q.question.id }}" value='Very Likely' data-bvalidator='required' data-bvalidator-msg='Please answer all questions on this page' /></label>
</div>
<br>
<br>