{% extends 'pages/base.html' %}

{% block title %}Error{% endblock %}

{% block navbar %}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <a href='/landing?q=se_control'>Control condition</a>
    </div>
    <div class="row">
        <a href='/landing?q=se_traditional'>Traditional condition</a>
    </div>
    <div class="row">
        <a href='/landing?q=se_simplified'>Simplified privacy policy condition</a>
    </div>
    <div class="row">
        <a href='/landing?q=se_static'>Search engine with static character</a>
    </div>
    <div class="row">
        <a href='/landing?q=se_anthropomorphic'>Search engine with anthropomorhic character</a>
    </div>
    <div class="row">
        <a href='/landing?q=se_ip'>Search engine tracking user IP</a>
    </div>
    <div class="row">
        <a href='/landing?q=se_tracking'>Search engine tracking user clicks</a>
    </div>
    <div class="row">
        <a href='/landing?q=se_informal'>Informal search engine</a>
    </div>
</div>
{% endblock %}

