{% extends 'pages/base.html' %}

{% block title %}Click on one of the links{% endblock %}

{% block navbar %}
{% include 'objects/navbar.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <a href='/se_control'>Control condition</a>
    </div>
    <div class="row">
        <a href='/se_traditional'>Traditional Condition</a>
    </div>
    <div class="row">
        <a href='/se_informal'>Informal search engine</a>
    </div>
    <div class="row">
        <a href='/se_anthropomorphic'>Search engine with speaking character</a>
    </div>
    <div class="row">
        <a href='/se_ip'>Search engine tracking user IP</a>
    </div>
</div>
{% endblock %}

