{% extends 'pages/base.html' %}

{% load staticfiles %}

{% block title %}Reporting Tool - Research Engine{% endblock %}

{% block head %}

<style>
.label-span {

    color: purple;
}
</style>

<script src='{{ STATIC_URL}}js/flot/jquery.flot.min.js'></script>
<script src='{{ STATIC_URL}}js/flot/jquery.flot.pie.min.js'></script>

<script type='text/javascript'>

function labelFormatter(label, series) {
    return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
}

(function ($) {

    $.fn.getWidthInPercent = function () {
        var width = parseFloat($(this).css('width'))/parseFloat($(this).parent().css('width'));
        return Math.round(100*width);
    };

})(jQuery);

undefined_count = 0;
uk_count = 0;
italy_count = 0;
germany_count = 0;
poland_count = 0;
total_count = 0;

var options = {
            series: {
                pie: { 
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 1,
                        formatter: labelFormatter,
                        background: {
                            opacity: 0.8
                        }
                    }
                }
            },
            grid: {
                hoverable: true,
                clickable: true
            }};

options.colors = ['blue','green','red','orange','purple'];

$(document).ready(function() {

    var incompletes = {{ total_users }} - {{ users_complete }};
    var completeness_data = [

     { label: "Completes ({{ users_complete }})",  data: {{ users_complete}} },
     { label: "Incompletes (" + incompletes + ") ",  data: incompletes },

    ];

    $.plot($('#completes'), completeness_data, options);
    update_progress_bars();
});

$(document).ready(function() {

    var question_terminated = '{{question_terminated}}';
    question_terminated = question_terminated.replace(/&quot;/g, '\"');
    jsonified = $.parseJSON(question_terminated);
    terminate_array = [];
    var i = 0;
    for(key in jsonified) {

        terminate_array[i] = {
            label: 'Question ' + key + ' (' + jsonified[key] + ')',
            data: jsonified[key]
        }
        i = i + 1;
    }
    $.plot($('#terminates'), terminate_array, options);

});

function update_progress_bars() {

    var country_completes = '{{ country_completes }}';
    country_completes = country_completes.replace(/&quot;/g, '\"');
    jsonified = $.parseJSON(country_completes);
    country_completes_array = [];
    var i = 0;
    for(key in jsonified) {

        country_completes_array[i] = {
            label: key + ' (' + jsonified[key] + ')',
            data: jsonified[key]
        }
        if(key == 'UK') {

            total_count += jsonified[key];
            $('#uk-progress').css('width', jsonified[key]/820*100 + '%');
            $('#uk-count').html(jsonified[key] + '/820');
        }
        if(key == 'Poland') {

            total_count += jsonified[key];
            $('#poland-progress').css('width', jsonified[key]/820*100 + '%');
            $('#poland-count').html(jsonified[key] + '/820');
        }
        if(key == 'Germany') {

            total_count += jsonified[key];
            $('#germany-progress').css('width', jsonified[key]/820*100 + '%');
            $('#germany-count').html(jsonified[key] + '/820');
        }
        if(key == 'Italy') {

            total_count += jsonified[key];
            $('#italy-progress').css('width', jsonified[key]/820*100 + '%');
            $('#italy-count').html(jsonified[key] + '/820');
        }
        if(key != 'Undefined') {

            $('#total-progress').css('width', total_count/3200*100 + '%');
            $('#total-count').html(total_count + '/3200');
        }
        if(key == 'Undefined') {

            $('#undefined-progress').css('width', jsonified[key]/220*100 + '%');
            $('#undefined-count').html(jsonified[key] + '/220');
        }
        i += 1; 
    }
    if (country_completes_array.length >= 1) {

        $.plot($('#country_completes'), country_completes_array, options);
    }
    else {

        $('#country_completes').html('<h3>No users have completed the survey</h3>');
    }

}

$(document).ready(function() {

    var country_terminates = '{{ country_incompletes }}';
    country_terminates = country_terminates.replace(/&quot;/g, '\"');
    jsonified = $.parseJSON(country_terminates);
    country_terminates_array = [];
    var i = 0;
    for(key in jsonified) {

        country_terminates_array[i] = {
            label: key + ' (' + jsonified[key] + ')',
            data: jsonified[key]
        }
        i = i + 1;
    }
    if(country_terminates_array.length >= 1) {
        
        $.plot($('#country_terminates'), country_terminates_array, options);
    }
    else {

        $('#country_terminates').html('<h3>No users have left the survey incomplete</h3>');
    }

});

</script>

{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-md-2'>
    </div>
    <div class='col-md-8'>
        <h2 style='text-align:center;'>Re-Search Engine: Reporting Page</h2>
    </div>
    <div class='col-md-2'>
    </div>
</div>

<br>
<br>
<br>

<div class='row'>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Completes</h3>
        <br>
        <br>
        <div id='completes' style='height: 400px;'>
            <img src='{{STATIC_URL}}loading3.gif'/>
        </div>
    </div>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Terminates by question</h3>
        <br>
        <br>
        <div id='terminates' style='height: 400px;'>
            <img src='{{STATIC_URL}}loading3.gif'/>
        </div>
    </div>
</div>

<br>
<br>

<div class='row'>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Country-wise Completes</h3>
        <br>
        <br>
        <div id='country_completes' style='height: 400px;'>
            <img src='{{STATIC_URL}}loading3.gif'/>
        </div>
    </div>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Country-wise Terminates</h3>
        <br>
        <br>
        <div id='country_terminates' style='height: 400px;'>
            <img src='{{STATIC_URL}}loading3.gif'/>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class='row'>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Progress towards UK quota</h3>
        <br>
        <br>
        <div class="progress progress-striped active">
          <div class="progress-bar" id='uk-progress' role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id='uk-count' class='label-span'></span>
          </div>
        </div>
    </div>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Progress towards Poland quota</h3>
        <br>
        <br>
        <div class="progress progress-striped active">
          <div class="progress-bar" id='poland-progress' role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id='poland-count' class='label-span'></span>
          </div>
        </div>
    </div>
</div>

<br>
<br>

<div class='row'>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Progress towards Italy quota</h3>
        <br>
        <br>
        <div class="progress progress-striped active">
          <div class="progress-bar" id='italy-progress' role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id='italy-count' class='label-span'></span>
          </div>
        </div>
    </div>
    <div class='col-md-6'>
        <h3 style='text-align:center;'>Progress towards Germany quota</h3>
        <br>
        <br>
        <div class="progress progress-striped active">
          <div class="progress-bar" id='germany-progress' role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id='germany-count' class='label-span'></span>
          </div>
        </div>
    </div>
</div>

<br>
<br>

<div class='row'>
    <div class='col-md-12'>
        <h3 style='text-align:center;'>Progress towards total quota</h3>
        <br>
        <br>
        <div class="progress progress-striped active">
          <div class="progress-bar" id='total-progress' role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id='total-count' class='label-span'></span>
          </div>
        </div>
    </div>
</div>

<br>
<br>

<div class='row'>
    <div class='col-md-12'>
        <h3 style='text-align:center;'>Progress towards Undefined</h3>
        <br>
        <br>
        <div class="progress progress-striped active">
          <div class="progress-bar" id='undefined-progress' role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id='undefined-count' class='label-span'></span>
          </div>
        </div>
    </div>
</div>


{% endblock %}
