<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
  (function() {

        var cx = '000248085842428281046:dgcmn_4tj-k';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
  })();

  function search() {

        var url = window.location.href;
        var flag = 0;
        var newurl = ''
        for (i = 0;i < url.length ; i = i + 1) {

            if (url[i] != '?') {

                newurl = newurl + url[i];
            }
            else {

                break;
            }
        }
        newurl = newurl + '?q=' + $('#q').val();
        window.open(newurl)
    }
  
    window.setInterval(function() {
        $('.gsc-above-wrapper-area').remove();
        $('.gcsc-branding').remove();
        $('.gsc-orderby').remove();
    }, 1);

</script>
<title>Test Search Engine</title>
</head>
<body >   
    <form id="search" onsubmit="search()" class='form-inline' style='width:800px; padding:20px;' class='text-left'>
        <div class='form-group'>
            <input type="text" class='form-control' placeholder='Search' style='width:500px;' id="q" />
        </div>
        <div class='form-group'>
            <input type="submit" class='btn btn-default' value="Search"/>
        </div>
    </form>
    <div id='main'>
        <gcse:searchresults-only></gcse:searchresults-only>
    </div>
</body>
<style>
    .gsc-branding, .gsc-orderby, .gsc-above-wrapper-area { display: none; height: 0; }
</style>
</html>
