{% extends 'pages/base.html' %}

{% block title %}Welcome to Research Engine{% endblock %}

{% block navbar %}
    {% include 'objects/navbar.html' %}
{% endblock %}

{% block content %}

{% if page == 'se_informal' %}
    <style>
        body, h4 {
            font-family: 'Comic Sans MS';
            background-color: yellow;
        }
    </style>
    <script type='text/javascript'>
        window.setInterval(function() {
            $('.gs-title').css('font-family', 'Comic Sans MS');
            $('.gs-snippet').css('font-family', 'Comic Sans MS');
            $('.gsc-url-bottom').css('font-family', 'Comic Sans MS');
            $('.gsc-cursor-page').css('font-family', 'Comic Sans MS');
            $('.gsc-control-cse').css('background-color', 'yellow');
            $('#results').css('background-color', 'yellow');
            $('#___gsce_0').css('background-color', 'yellow');
        }, 1);
    </script>
{% endif %}
    <div class='row'>
        <div class='col-md-9'>
            <form class='form' id='answer' style='width:800px; padding:20px;' class='text-left' onkeypress="return event.keyCode != 13;">
                <div class='form-group'>
                <h4>{{ question }}</h4>
                <br>
                </div>
                <div class='input-group' style='width:500px;'>
                    <input type="text" class='form-control' placeholder='Your answer' autocomplete="off"/><span class="input-group-addon"><a href='/se?page={{ page }}&index={% if index|add:"0" < 4 %}{{ index|add:"1"}}{% else %}{{ index }}{% endif %}'>Submit</a></span>
                </div>
            </form>
        </div>
        <div class='col-md-3'>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-md-9'>
            <h4>Answer the question using the search engine below</h4>
            <br>
            <img src='/static/logo.png' />
            <form onsubmit="return executeQuery();" id="cse-search-box-form-id" class='form-inline' style='width:800px; padding:20px;' class='text-left'>
                <div class='input-group' style='width:500px;'>
                    <input type="text" class='form-control' placeholder='Search' id="cse-search-input-box-id" size="25" autocomplete="off"/><span class="input-group-addon"><a href="#" onclick="return executeQuery();">Search</a></span>
                </div>
            </form>
            <div class="row" id="results">
                <gcse:searchresults-only></gcse:searchresults-only>
            </div>
        </div>
        <div class='col-md-3' id='condition'>
            {% if page == 'se_anthropomorphic' %}
                <script language="JavaScript" type="text/javascript" src="http://vhss-d.oddcast.com/vhost_embed_functions_v2.php?acc=4170425&js=1"></script><script language="JavaScript" type="text/javascript">AC_VHost_Embed(4170425,300,400,'',1,1, 2347563, 0,1,0,'dfdb49e086948c5e42ec6322413625cb',9);</script>
            {% endif %}
            {% if page == 'se_ip' %}
                <p>Your IP address is {{ client_address }}</p>
            {% endif %}
            {% if page == 'se_tracking' %}
                <p>You visited:</p>
                <script>
                    $(document).ready(function() {
                        $('#results').on('click', 'a', function (event) {
                            document.getElementById('condition').innerHTML += '<br><br><h5>' + $(this).text() + '</h5>';
                        });
                    });
                </script>
            {% endif %}
            {% if page == 'se_static' %}
                <img src='/static/avatar.png' />
            {% endif %}
            {% include 'objects/footer.html' %}
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}