{% extends 'pages/base.html' %}

{% block title %}Choose your question{% endblock %}

{% block navbar %}
    {% include 'objects/navbar.html' %}
{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-md-9'>
        <div class='form-group'>
            <h4>Select one of the questions below</h4>
            <br>
            </div>
            {% for q in questions %}
                <h4><a href='/se?qid={{ q.question.id }}'>{{ q.text }}</a></h4>
                <br>
            {% endfor %}
    </div>
    <div class='col-md-3'>
    </div>
</div>

{% endblock %}