{% extends 'pages/base.html' %}

{% block title %}Exit survey - Page {{ current_group|add:-4 }}{% endblock %}

{% block navbar %}
    {% include 'objects/navbar.html' %}
{% endblock %}

{% block head %}
<script src='{{ STATIC_URL }}js/ajax_submit.js'></script>

{% endblock %}

{% block content %}

<div class='row'>
    <div class='col-md-9'>
        {% if current_group == 10 %}
            <div id='disclosure' style='text-align: center;'>
                <h3>Thank you for your co-operation. You may now exit.</h3>
            </div>
        {% else %}
            {% if current_group == 5 %}
            <h3>Please complete this internet use questionnaire</h3>
            {% elif current_group == 6 %}
            <h3>Please indicate your agreement with the following statements</h3>
            {% elif current_group == 7 %}
            <h3>Please indicate the likelihood that the following items were collected</h3>
            {% elif current_group == 8 %}
            <div id='disclosure' style='text-align: center;'>
                <h3>The real purpose of the study was to analyse privacy-related behaviour and attitudes.
                <br>
                <br>
                Google was the search engine.</h3>
                <br>
                <br>
                <img src='{{STATIC_URL}}download.jpg' />
            </div>
            {% elif current_group == 9 %}
            <h4>Finally, please provide additional information, answering to the following questions</h4>
            {% endif %}
            <form id='{{ current_group }}' method='POST' action='/submit_survey'>{% csrf_token %}
                <div class='form-group' style='padding: 20px;'>
                    {% for q in questions %}
                        <h4>{{ forloop.counter }}. {{ q.text }}</h4>
                        <br>
                        {% if current_group == 5 or current_group == 9 %}
                        <input type='text' class='form-control' id='{{ q.question.id }}' name='{{ q.question.id }}' />
                        <br>
                        {% elif current_group == 6 %}
                        <div class='radioGroupBelow'>
                            <label>Strongly Disagree<input type="radio" name="{{ q.question.id }}" value='Strongly Disagree' /></label>
                            <label>Disagree<input type="radio" name="{{ q.question.id }}" value='Disagree' /></label>
                            <label>Somewhat Disagree<input type="radio" name="{{ q.question.id }}" value='Somewhat Disagree' /></label>
                            <label>Neutral<input type="radio" name="{{ q.question.id }}" value='Neutral' /></label>
                            <label>Somewhat Agree<input type="radio" name="{{ q.question.id }}" value='Somewhat Agree' /></label>
                            <label>Agree<input type="radio" name="{{ q.question.id }}" value='Agree' /></label>
                            <label>Strongly Agree<input type="radio" name="{{ q.question.id }}" value='Strongly Agree' /></label>
                        </div>
                        <br>
                        {% elif current_group == 7 %}
                        <div class='radioGroupBelow'>
                            <label>Very Unlikely<input type="radio" name="{{ q.question.id }}" value='Very Unlikely' /></label>
                            <label>Unlikely<input type="radio" name="{{ q.question.id }}" value='Unlikely' /></label>
                            <label>Somewhat Unlikely<input type="radio" name="{{ q.question.id }}" value='Somewhat Unlikely' /></label>
                            <label>Neutral<input type="radio" name="{{ q.question.id }}" value='Neutral' /></label>
                            <label>Somewhat Likely<input type="radio" name="{{ q.question.id }}" value='Somewhat Likely' /></label>
                            <label>Likely<input type="radio" name="{{ q.question.id }}" value='Likely' /></label>
                            <label>Very Likely<input type="radio" name="{{ q.question.id }}" value='Very Likely' /></label>
                        </div>
                        <br>
                        {% endif %}
                    {% endfor %}
                    {% if current_group != 8 and current_group != 9 %}
                        <input type='submit' class='btn btn-default' value='Next >>'/>
                    {% elif current_group == 9 %}
                        <input type='submit' class='btn btn-default' value='Done' onclick='submit_time();' />
                    {% else %}
                        <div style='text-align: center;'>
                            <input type='submit' class='btn btn-default' value='Next >>' />
                        </div>
                    {% endif %}
                </div>
            </form>
        {% endif %}
    <div class='col-md-3'>
    </div>
</div>

{% endblock %}