{% extends "pages/base.html" %}

{% block title %}Landing Page{% endblock %}

{% block head %}

<script type="text/javascript">

function yesvalidator() {

    if($('input[name=18older]:checked').val() == 'No') {

        window.location.replace('/thanks');
        return false;
    }
    if($('input[name=country]:checked').val() == 'No') {

        window.location.replace('/thanks');
        return false;
    }
    if($('input[name=minutes]:checked').val() == 'No') {

        window.location.replace('/thanks');
        return false;
    }
    if($('input[name=internet]:checked').val() == 'No') {

        window.location.replace('/thanks');
        return false;
    }
    if($('input[name=device]:checked').val() == 'No') {

        window.location.replace('/thanks');
        return false;
    }
    return true;
}
$(document).ready(function() {
    var optionsBootstrap = {
        classNamePrefix: 'bvalidator_bootstrap_',
        position: {x:'top', y:'center'},
        offset:     {x:15, y:0},
        singleError: true,
        template: '<div class="{errMsgClass}"><div class="bvalidator_bootstrap_arrow"></div><div class="bvalidator_bootstrap_cont1">{message}</div></div>',    
        templateCloseIcon: '<div style="display:table"><div style="display:table-cell">{message}</div><div style="display:table-cell"><div class="{closeIconClass}">&#215;</div></div></div>'
    };
    
    $('#beginform').bValidator(optionsBootstrap);

});
</script>

<script src='{{ STATIC_URL }}js/ajax_submit.js'></script>

{% endblock %}

{% block content %}

<div id='text' style='padding-top: 60px;' class='row'>

    <div class='col-md-3'>

    </div>

    <div class='col-md-6'>

        <h1>Benvenuto!</h1>
        
        <p>Nel corso di questo studio Ti chiederemo di valutare un nuovo motore di ricerca (Re-Search). Nelle prossime pagine, sarai chiamato/a a rispondere ad una serie di domande. Ti preghiamo di utilizzare Re-Search, fornito al di sotto di ciascuna domanda, per trovare la risposta corrispondente. In questo modo, avrai la possibilità di provare il motore di ricerca Re-Search e di valutarne la performance.</p>

        <p>Al termine di questo esercizio di ricerca, Ti verrà richiesto di rispondere ad un breve questionario sul tuo utilizzo di Internet. Questo ci aiuterà a fornire un servizio migliore. Ti verrà anche richiesto di rispondere ad alcune domande, non obbligatorie, riguardanti comportamenti personali.</p>

        <p>Questo studio durerà approssimativamente 30 minuti.</p>

        <p>Ti preghiamo di assicurarTi che la Tua connessione ad Internet sia stabile prima di iniziare questo studio. Se devi abbandonare lo studio prima di completarlo non potrai essere pagato/a.</p>

        <p>Grazie per la Tua collaborazione!</p>

        <p>Per poter partecipare a questo studio devi avere almeno 18 anni, devi essere connesso/a dall’Italia, devi avere a disposizione almeno 30 minuti per completare lo studio senza interruzioni, e devi disporre, al momento, di una connessione ad Internet stabile, così da poter terminare lo studio.</p>
        <br>

        <form id='beginform' onsubmit='return yesvalidator();' action='/se' method='POST'>{% csrf_token %}

            <p>1. Hai almeno 18 anni?
                <label style='padding-left:10px; padding-right:10px;'>Sì</label><input type="radio" name="18older" value='Yes'  />
                <label style='padding-left:10px; padding-right:10px;'>No</label><input type="radio" name="18older" value='No'/></p>
            <br>

            <p>2. Sei connesso/a dall’Italia?
                <label style='padding-left:10px; padding-right:10px;'>Sì</label><input type="radio" name="country" value='Yes' />
                <label style='padding-left:10px; padding-right:10px;'>No</label><input type="radio" name="country" value='No'/></p>
            <br>

            <p>3. Hai a disposizione almeno 30 minuti, senza interruzioni, per completare lo studio?
                <label style='padding-left:10px; padding-right:10px;'>Sì</label><input type="radio" name="minutes" value='Yes'  />
                <label style='padding-left:10px; padding-right:10px;'>No</label><input type="radio" name="minutes" value='No'/></p>
            <br>

            <p>4. Al momento, disponi di una connessione ad Internet stabile, così da poter terminare lo studio?
                <label style='padding-left:10px; padding-right:10px;'>Sì</label><input type="radio" name="internet" value='Yes'  />
                <label style='padding-left:10px; padding-right:10px;'>No</label><input type="radio" name="internet" value='No'/></p>
            <br>

            <p>5. Stai utilizzando un desktop/portatile?
                <label style='padding-left:10px; padding-right:10px;'>Sì</label><input type="radio" name="device" value='Yes'  />
                <label style='padding-left:10px; padding-right:10px;'>No</label><input type="radio" name="device" value='No'/></p>
            <br>

            <input type='Submit' value='Inizia' class='btn btn-primary'/>

        </form>

    </div>

</div>

<noscript>
<style>
#text {

    display: none;
}
</style>

You need to have javascript enabled on your browser to continue. Please see instructions on how to do so for your browser <a href="http://enable-javascript.com/">here.</a> Once enabled, you can refresh this page to continue.
</noscript>

{% endblock %}
