{% if page != 'SI' %}

<h2>Titolare del trattamento dati</h2>

<p>Il titolare del trattamento dei dati è RE-SEARCH, con sede in Via Columbia, 2, 00133 Roma, Italia.</p>

<p>Questa documentazione stabilisce quali informazioni raccogliamo, come le raccogliamo, l’uso che ne facciamo, con chi ci riserviamo il diritto di condividerle e come le proteggiamo (ai sensi della Direttiva 95/46/EC, applicata tramite D.Lgs. n. 196 del 30 June 2003 sulla Protezione dei Dati Personali – ovvero Codice Italiano della Privacy).</p>

<p>Ci impegnamo a proteggere la Tua privacy.</p>


<h2>Raccolta</h2>

<p>Al fine di testare le funzionalità del motore di ricerca RE-SEARCH, raccogliamo e riteniamo le seguenti informazioni da e su di Te:</p>
<ul>
<li>Ti assegnamo un codice utente. Questo identificativo unico non contiene informazione personale che Ti identifica, ma siamo in grado di collegare il codice utente ai tuoi contatti tramite un database indipendente.</li>
<li>Raccogliamo le Tue risposte alle domande del quiz e le tue risposte alle domande successive.</li>
<li>Raccogliamo il Tuo indirizzo IP e il tipo di browser che utilizzi.</li>
<li>Raccogliamo i termini da te utilizzati per la ricerca, la data e l’ora esatta in cui l’hai effettuata.</li>
<li>Raccogliamo i Tuoi dati di navigazione, ovvero i siti e le pagine su cui clicchi.
Utilizzo e scopi</li>
</ul>


<h2>Utilizzare e le finalità</h2>

<p>Raccogliamo informazioni in due modi:</p>
<ul>
<li>Informazioni che Tu ci fornisci.</li>
<li>Informazioni che otteniamo dal Tuo utilizzo dei nostri servizi.</li>
</ul>


<p>Utilizziamo le informazioni raccolte da e su di te al fine di fornirTi un servizio migliore. Ci riserviamo il diritto di utilizzare tali informazioni a scopi generali di ricerca.</p>

<p>Se richiesto dalla legge, potremmo fornire i Tuoi dati.</p>

<p>Ci riserviamo il diritto di condividere i Tuoi dati con i nostri consulenti esterni al fine di fornire il nostro servizio.</p>

<p>Ci riserviamo il diritto di condividere o pubblicare informazioni relative al Tuo utilizzo del nostro servizio a scopi di ricerca. In tal caso, i Tuoi dati saranno aggregati con quelli di altri utenti, oppure saranno resi anonimi (ovvero associati solo al codice utente).</p>


<h2>Durata</h2>


<p>I dati verrano trattati per il tempo strettamente necessario a raggiungere gli scopi per i quali sono stati raccolti, e comunque ai sensi di legge.</p>

<h2>Consenso</h2>

<p>Utilizzando il nostro servizio, acconsenti al trattamento dei Tuoi dati secondo questa informativa. In particolare, acconsenti alla ritenzione dei Tuoi dati in un database ed al loro utilizzo da parte di sistemi automatici per gli scopi e la durata qui indicati.</p>

<p>Non condividiamo informazioni personali con altre aziende per motive pubblicitari senza aver avuto il Tuo consenso.</p>

<h2>Diritti dei soggetti</h2>

<p>Gli utenti possono esercitare il proprio diritto ad accedere, rettificare, opporsi e cancellare dati personali, ai sensi della Direttiva 95/46/EC (applicata tramite il Codice Italiano della Privacy), scrivendo a: RE-SEARCH, con sede in Via Columbia, 2, 00133 Roma, Italia.</p>

<h2>Terze parti</h2>

<p>Nel caso in cui siano presenti sul nostro sito link ad altri siti, non possiamo garantire la conformità alle leggi sulla protezione dei dati da parte di tali siti.</p>
Misure di sicurezza

<p>Abbiamo adottato i livelli di sicurezza richiesti dalla legge per la protezione dei dati personali, ed abbiamo istallato tutte le misure ed i mezzi tecnologici attualmente disponibili per prevenire la perdita, l’uso improprio, l’alterazione, l’accesso non autorizzato ed il furto di dati. Tuttavia, l’utente deve essere consapevole che la sicurezza delle comunicazioni attraverso una rete non è invulnerabile.</p>

<h2>Modifiche all’Informativa sulla Privacy</h2>

<p>La nostra Informativa sulla Privacy potrebbe cambiare periodicamente e qualsiasi cambiamento a questa informativa sarà pubblicato su questa pagina.</p>


{% else %}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Fatti</th>
            <th>Quali dati raccogliamo e come li utilizziamo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h5>Chi?</h5></td>
            <td>
                <h5><p>RE-SEARCH, Roma</p>
                    
                    <p>Proteggiamo la Tua privacy</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Perché?</h5></td>
            <td>
                <h5><p>Stiamo testando diversi design per il nostro servizio web.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Cosa?</h5></td>
            <td>
                <h5>
                <ul>
                    <li> Cosa cerchi (e quando),</li>
                    <li>I link su cui clicchi (e quando),</li>
                    <li>Il tipo di browser che utilizzi (ad esempio, Internet Explorer, Chrome o Firefox),</li>
                    <li>Il Tuo indirizzo IP, che ci dice anche, approssimativamente, dove ti trovi geograficamente,</li>
                    <li>Le Tue risposte alle domande del quiz e le Tue risposte ai questionari successivi.</li>
                </ul>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Come?</h5></td>
            <td>
                <h5><p>Ti assegnamo un codice utente ed utilizziamo questo identificativo per registrar la tua attività (ricerche, click, tipo di browser, indirizzo IP). Possiamo anche collegare il tuo codice con il tuo indirizzo email e con le Tue risposte ai questionari successivi.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Per quanto tempo?</h5></td>
            <td>
                <h5><p>Riteniamo i Tuoi dati per il tempo strettamente necessario a raggiungere gli scopi per i quali sono stati raccolti.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Consenso</h5></td>
            <td>
                <h5><p>Utilizzando il nostro servizio, acconsenti al trattamento dei dati second questa Informativa.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>I tuoi diritti</h5></td>
            <td>
                <h5><p>Accesso, rettifica, opposizione e cancellazione (dove applicabile).</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Terze parti</h5></td>
            <td>
                <h5><p>Non possiamo garantire la conformità alle leggi sulla protezione dei dati da parte di altri siti.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Sicurezza</h5></td>
            <td>
                <h5><p>Abbiamo istallato tutte le misure ed i mezzi tecnologici attualmente disponibili per proteggere i Tuoi dati. Tuttavia, la sicurezza delle comunicazioni attraverso una rete non è invulnerabile.</p>
                </h5>
            </td>
        </tr>
        <tr>
            <td><h5>Modifiche</h5></td>
            <td>
                <h5><p>Qualsiasi cambiamento a questa informativa sarà pubblicato su questa pagina.</p>
                </h5>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Perché potremmo condividere i</th>
            <th>Tuoi dati Li condividiamo?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h5>Se richiesto dalla legge</h5></td>
            <td><h5>Sì</h5></td>
        </tr>
        <tr>
            <td><h5>A scope di ricerca</h5></td>
            <td><h5>Sì</h5></td>
        </tr>
        <tr>
            <td><h5>A scope di pubblicità</h5></td>
            <td><h5>No</h5></td>
        </tr>
    </tbody>
</table>
{% endif %}
