{% extends 'pages/base.html' %}

{% block head %}

<script type="text/javascript" language="JavaScript">

    window.onload = function() {
        var assignment_id_field = document.getElementById('myelementLink');
        var paramstr = window.location.search.substring(1);
        var parampairs = paramstr.split("&");
        var mturkworkerID = "";
        for (i in parampairs) {

          var pair = parampairs[i].split("=");
          if (pair[0] == "workerId")

            mturkworkerID = pair[1];
        }
        if (mturkworkerID == "" ) {

          assignment_id_field.innerHTML = '<h3>The link will appear here only if you accept this HIT.</h3>';

        } else {

          assignment_id_field.innerHTML = '<h3>Your mturk ID is ' + mturkworkerID + '. <a target="_blank" href="http://theresearchgroup.org?tick=' + mturkworkerID + '"><b>Click here</b></a> to take the survey.</h3>';
        }
    };

</script>

{% endblock %}

{% block content %}

<div id='myelementLink'>

<h4>URL not shown because there is an error with Javascript on your computer. To perform this HIT, you must have Javascript and cookies enabled on your browser.</h4>

</div>

<br>
<br>
<br>

<div id='info'>

<h3>When you have completed the survey, please copy and paste the code you were given at the end of the survey in this field in order to receive your payment:</h3>

<br>

<p><input name="Q2" type="text" class='form-control' /></p>

<h4>Thank you for your participation</h4>

<br>

<h4>The Research Group</h4>

</div>

{% endblock %}