/* center radio below label */
.radioGroupBelow label{
    display:inline-block;
    text-align:center;
    margin:0 0.2em;
}

.radioGroupBelow label input[type="radio"] {
    display:block;
    margin:0.5em auto;
}​

#wrap {

    padding-top: 20px;
    padding-bottom: 20px;
}

textarea {
    resize: none;
}

.blank {

    padding-left: 300px;
    padding-right: 300px;
}